{% extends "base.html" %} {% block title %} COMET Home{% endblock %} {% block content%}
<div class="container">
    <h1>About</h1>
    <h2>Purpose</h2>
    <p>The goal of COMET is to determine the effect SNPs on protein-protein interactions (PPIs).</p>
    <h2>Understanding the SNP results</h2>
    <h3>SNP qene, chromosome and genotype</h3>
    <h3>Clinical significance</h3>
    <h3>Substitutions and frequencies</h3>
    <p>For a given SNP, there can be multiple amino acid subsitutions and/or nucleotide subsitutions. Multiple
        substitutions may be due to the protein having multiple isomers (forms).</p>
    <h3>Change in binding affinity (∆∆G)</h3>
    <p>For a given SNP, the genotype can be compared to Genome Wide Studies such as The 1000 Genomes Project or the
        HapMap Project.</p>
    <h3>Protein Viewer</h3>


</div>

{% endblock %}
