{% extends "base.html" %} {% block title %}Upload file{% endblock %} {% block content
    %}
<div class="container">
    <h1>Step 1: Upload a genotype file</h3>

    <div class="file-upload-info">
        <p>This is a <strong>raw genotype text file </strong> from a direct-to-consumer (DTC) genetic test.</p>
        <p>If you do not have a raw genotype file but would like to use this application, you can freely download raw
            genotype files from OpenSnp. (<a href="https://opensnp.org/">OpenSNP Link</a>)</p>
        <p><strong>When you are finished using this application, please click End Session </strong> (the red button located in the top right corner) to automatically delete the uploaded file and any session data.</p>
    </div>
    <form method=post enctype=multipart/form-data> <input type=file name=file>

        <input type=submit class="btn btn-primary" style="display: block; margin-top: 15px;" value="Upload and analyze file">
    </form>
    <div>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
    </div>

</div>
{% endblock %}