{% extends "base.html" %} {% block title %}Results{% endblock %} {% block
    content %}

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  h3 {
    padding: 10px;
    background-color: #f2f2f2;
  }

  #title {
    display: flex;
    position: relative;
  }

  button {
    position: absolute;
    top: 10px; 
    right: 0;
  }
</style>

<body>
  <div class="container">
    <div class id="title">
      <h1>Results</h1>
      <button onclick="javascript:window.history.back();">Go Back</button>
      <!-- <button href="/home">Previous SNP</button> -->
      <!-- <button href="/home">Next SNP</button> -->
    </div>

    <p>The selected SNP is {{snp}}</p>
    <p>The corresponding gene is {{gene}} located on Chromosome {{chr}}</p>
    <p>Your genotype is {{genotype}}</p>
    <h3>Substitutions</h3>
    <table>
      <tr>
        <th>Nucleotide </th>
        <th>Nucleotide documentation count</th>
        <th>Amino acid</th>
        <th>Amino acid documentation count</th>
      </tr>
      {% for i in subs %}
      <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
      </tr>
      {% endfor %}
    </table>
    
    <h3>Change in binding affinity (∆∆G)</h3>
    <p>Calculated with {{pdbselect}} and {{aa1}}</p>
    <table id="example" class="display" style="width:100%">
      <tr>
        <th>Program</th>
        <th>∆∆G (kcal/mol)</th>
        <th>Effect</th>
      </tr>
      {% for i in range(0, len(ddgresults)-1) %}
      <tr>
        <td>{{ddgresults[i][0]}}</td>
        <td>{{ddgresults[i][1]}}</td>
        <td>{{ddgresults[i][2]}}</td>
      </tr>
      {% endfor %}
      <tr>
        <th>{{ddgresults[len(ddgresults)-1][0]}}</th>
        <th></th>
        <th>{{ddgresults[len(ddgresults)-1][2]}}</th>
      </tr>
    </table>
    <p>* UEP only evaluates mutations located in highly-packed interface positions</p>
    <h3>Frequency</h3>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    
    <div id="canvas-holder" style="background-color:#FFFFFF;width:50%;float: left;">
      <canvas id="chart1" width="30" height="20" style="float:left;margin-left:2em;margin-bottom:2em"></canvas></div>
    <div id="canvas-holder" style="background-color:#FFFFFF;width:50%;float: right;">
      <canvas id="chart2" width="30" height="20" style="float:right;margin-right:2em;margin-bottom:2em"></canvas></div>

    <script>
      var fraction1 = parseFloat('{{ freq1000g[3:] }}')
      var fraction2 = parseFloat('{{ freqhapmap[3:] }}')
      var values1 = [fraction1, 1 - fraction1];
      var values2 = [fraction2, 1 - fraction2];
      var labels1 = ['{{ freq1000g[0] }}', "Other"];
      var labels2 = ['{{ freqhapmap[0] }}', "Other"];
      var colors = ["#232723", "#808080"];
      var chart1 = new Chart(document.getElementById("chart1"), {
        type: 'pie',
        data: {
          labels: labels1,
          datasets: [{
            backgroundColor: colors,
            data: values1
          }]
        },
        options: {
          title: {
            display: true,
            text: '1000 Genomes Project'
          }
        }
      });
      var chart2 = new Chart(document.getElementById("chart2"), {
        type: 'pie',
        data: {
          labels: labels2,
          datasets: [{
            backgroundColor: colors,
            data: values2
          }]
        },
        options: {
          title: {
            display: true,
            text: 'HapMap Project'
          }
        }
      });
    </script>

    <h3>Clinical significance</h3>
    {% for item in clin %}
    <ul>
      <li>{{item}}</li>
    </ul>
    {% endfor %}
    <h3>Protein viewer</h3>
    <p>The specific areas (if any) that the {{gene}} protein is affected by {{snp}} in {{pdbselect}} is shown in purple.
    </p>
    <div>

      <script src="https://cdn.rawgit.com/arose/ngl/v0.10.4-1/dist/ngl.js "></script>

      <script>
        var pdbfile = '{{ pdbselect }}';
        var rscb = "rcsb://";
        var input = rscb.concat(pdbfile);
        var chain = ':{{chain}}';
        document.addEventListener("DOMContentLoaded", function () {
          var stage = new NGL.Stage("viewport", {
            backgroundColor: 'white'
          });
          var schemeId = NGL.ColormakerRegistry.addSelectionScheme([
            ["purple", chain],
            ["grey", "*"]
          ])
          stage.loadFile(input).then(function (o) {
            o.addRepresentation("ribbon", {
              colorScheme: schemeId
            });
            o.autoView();
          });
        });
      </script>
      <div id="viewport" style="width:100%; height:300px;"></div>
    </div>

    <h3>PDB files</h3>
    <form action="#" method="post">
      {% for i in pdb %}
      <input type="submit" name="pdbselect" value={{i}}>
      {% endfor %}
    </form>

  </div>
</body>

{% endblock %}