{% extends "base.html" %} {% block title %}Select SNP{% endblock %} {% block content
    %}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <title>Select SNP</title>
</head>

<div class="container">
    <h1>Step 2: Select a SNP to analyze (filter by chromosome)</h3>
        {% if dboff == 0 %}
        <p>Click the Analyze button of the SNP you are interested in. Only nonsynonymous SNPs that are present in COMET's database are shown.</p>
        <form action="#" method="post">
            <input type="submit" class="btn btn-secondary" name="turnoff" value="Turn off database filtering" onclick="$('#loading').show();">
        </form>
        {% elif  dboff == 1 %}
        <p>Click the Analyze button of the SNP you are interested in. All SNPs in raw genotype file (except internal SNPs and mitochondrial DNA SNPs) are shown. Only non-synonymous SNPs that are present in COMET's database have a corresponding substitution, gene, and frequency.</p>
        <form action="#" method="post">
            <input type="submit" class="btn btn-secondary" name="turnon" value="Turn on database filtering" onclick="$('#loading').show();">
        </form>
        {% else %}
        <p>Click the Analyze button of the SNP you are interested in. All nonsynonymous SNPs that are present in COMET's database are shown.</p>
        {% endif %}
        <div id="chromosomes">
            <form action="#" method="post">
                <div class="btn-group d-flex" data-toggle="buttons" aria-label="Chromosome buttons">
                    {% if dboff == 1 %}
                    {% for i in (list(range(1, 23)) + list(['X', 'Y'])) %}
                    <input type="submit" class="btn btn-outline-dark w-100" name="chrom" value={{i}}>
                    {% endfor %}
                    {% else %}
                    {% for i in (list(range(1, 23)) + list(['X', 'Y', 'All'])) %}
                    <input type="submit" class="btn btn-outline-dark w-100" name="chrom" value={{i}}>
                    {% endfor %}
                    {% endif%}
            
                </div>
            </form>
        </div>

        <table id="selectsnp" class="display">
            <thead>
                <tr>
                    <th>rsid</th>
                    <th>chromosome</th>
                    <th>position</th>
                    {% if geno %}
                    <th>genotype</th>
                    {% endif %}
                    <th>substitution</th>
                    <th>gene</th>
                    <th>frequency (%)</th>
                    <th>action</th>
                </tr>
            </thead>
        </table>
        {% if geno %}
        <script>
            $(document).ready(function () {
                var table = $('#selectsnp').DataTable({
                    "ajax": {
                        "url": "/showtable",
                        "dataType": "json",
                        "dataSrc": "data",
                        "contentType": "application/json",
                        "datatesting": "hello"
                    },
                    "columns": [{
                            "data": "rsid"
                        },
                        {
                            "data": "chromosome"
                        },
                        {
                            "data": "position"
                        },
                        {
                            "data": "genotype"
                        },
                        {
                            "data": "substitution"
                        },
                        {
                            "data": "gene"
                        },
                        {
                            "data": "freq"
                        },
                        {
                            "data": null
                        }

                    ],
                    "columnDefs": [{
                        "targets": -1,
                        "defaultContent": "<button type='submit'>Analyze</button>"
                    }]

                });
                $('#selectsnp tbody').on('click', 'button', function () {
                    var data = table.row($(this).parents('tr')).data();
                    $.post(`/getchoice?rsid=${data["rsid"]}&genotype=${data["genotype"]}`)
                        .done(() => {
                            window.location.replace("http://127.0.0.1:5000/output");
                        });
                });

            });
        </script>
        {% else %}

        <script>
            $(document).ready(function () {
                var table = $('#selectsnp').DataTable({
                    "ajax": {
                        "url": "/showtable",
                        "dataType": "json",
                        "dataSrc": "data",
                        "contentType": "application/json",
                        "datatesting": "hello"
                    },
                    "columns": [{
                            "data": "rsid"
                        },
                        {
                            "data": "chromosome"
                        },
                        {
                            "data": "position"
                        },
                        {
                            "data": "substitution"
                        },
                        {
                            "data": "gene"
                        },
                        {
                            "data": "freq"
                        },
                        {
                            "data": null
                        }

                    ],
                    "columnDefs": [{
                        "targets": -1,
                        "defaultContent": "<button type='submit'>Analyze</button>"
                    }]

                });
                $('#selectsnp tbody').on('click', 'button', function () {
                    var data = table.row($(this).parents('tr')).data();
                    $.post(`/getchoice?rsid=${data["rsid"]}&genotype=${data["genotype"]}`)
                        .done(() => {
                            window.location.replace("http://127.0.0.1:5000/output");
                        });
                });

            });
        </script>
        {% endif %}

</div>
{% endblock %}